.dashboard-main {
  flex: 1;
  padding: 0.5rem;
  overflow-y: auto;
}

.dashboard-header {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.header-actions{
  margin-bottom: 0.5rem;
  margin-right: 50%;
  align-items: center;
  display: flex;
}

.dashboard-header h2 {
  font-size: 1.875rem;
  font-weight: 600;
  color: #031962c1;
  margin-bottom: 0.25rem;
  margin-left: 1.5rem; 
}

.week-info {
  margin-top: 0.875rem;
  margin-right: 53%; 
  color: #39265471; /*Change the color summuu*/
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.dropdown-icon{
  width: 0.6rem;
  color: #39265471; 
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: calc(100vh - 200px);
}
.left-column-content{
  display:flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}