.health-status-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.8rem;
      }
      
      .health-card {
        height: 120px;
        width: 160px;
        background: rgba(178, 210, 245, 0.212);
        border: 1px solid rgba(127, 182, 246, 0.345);
        border-radius: 0.75rem;
        padding: 1rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        /* display: flex; */
        align-items: center;
        gap: 1rem;
      }
      .health-card-details{
        display: flex;
        gap: 0.5rem;
      }
      .health-card-icon {
        font-size: 1.5rem;
      }
      .more-health-card{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
      }
      .more-health-card span{
        font-size: 0.875rem;
        color: #39265471; 
      }
      .health-status-arrow{
        width: 0.6rem;
        color: #39265471; 
      }
      .health-card-content{
        margin-top: 1rem;
        margin-left: 0.4rem;
      }
      .health-card-title {
        font-size: 1.2rem;
        margin-top: auto;
        font-weight: 600;
        margin-bottom: 0.25rem;
      }
      
      .health-card-date {
        font-size: 0.75rem;
        color: #64748b;
        margin-bottom: 0.5rem;
      }
      
      .health-progress {
        width: 100%;
        height: 4px;
        background: #f1f5f9;
        border-radius: 2px;
        overflow: hidden;
      }
      
      .progress-bar {
        height: 100%;
        width: 70%;
        border-radius: 2px;
      }
      
      span{
        font-size: 0.75rem;
        color: #64748b;
        margin-top: 0.5rem;
        margin-left: auto;
      }